.intro-information {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  overflow: hidden;
  flex: 1;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #F2F4F7;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 20px 0;
  line-height: 1.2;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 15px 0;
  line-height: 1.3;
  color: #333;
}


.form-section {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}


.input-with-icon svg {
  margin-right: 8px;
  fill: #007bff;
  flex-shrink: 0;
}

.input-with-icon input {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  flex: 1;
  font-size: 16px;
}

.inline-form input[type="text"] {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  flex: 1;
  font-size: 16px;
}

.inline-form {
  display: flex;
  gap: 30px;
  align-items: center;
}

.inline-form button {
  padding: 10px 15px;
  border: none;
  color: white;
  background-color: #007bff;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  text-align: left;
}

.inline-form button:hover {
  background-color: #0056b3;
}

.image-right {
  flex: 1 1 50%;
  max-width: 50%;
  box-sizing: border-box;
}

.image-right img {
  width: 100%;
  height: auto;
  display: block;
} 

@media (max-width: 1420px) {

  .content-container {
      padding-left: 20px;
  }

  .intro-and-form {
      margin-top: 50px;
  }

  h1 {
      font-size: 32px;
  }

  h3 {
      font-size: 20px;
  }

  .inline-form {
      flex-direction: column;
      gap: 15px;
  }

  .inline-form button {
      width: 100%;
      text-align: center;
  }

  .image-right img {
      height: auto;
      width: 150%;
      max-width: 3000px;
  }
}

@media (max-width: 768px) {

  .content-container {
      flex-direction: column;
      padding: 20px;
  }

  .intro-and-form {
      margin-top: 30px;
  }


  .form-section {
      margin-top: 30px;
  }

  h1 {
      font-size: 28px;
  }

  h3 {
      font-size: 18px;
  }

  .inline-form {
      flex-direction: column;
      gap: 10px;
  }

  .inline-form button {
      width: 100%;
      text-align: center;
  }

}
